<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>


  <script src="index.js"></script>
  <script type="text/javascript">


  var tpl;
  var model;

  var controller = {
    showUser : function(person) {
      person.name = "Romeo Kenfack Tsakem";
      tpl.update(model);
    }
  };

    document.addEventListener("DOMContentLoaded", function() {

      var node = document.getElementById("template");

      model = {
        active : true,
        myclass : "ss",
        title : "Employees",
        persons : [
            {
            name : "Romeo",
            profession : "Informatiker",
            qualifications : [{name : "javascript", level : "gut"}, {name : "PHP", level : "gut"}]
          }
          ]
      };

      tpl = Template.create(node, model);

      Object.observe(model, function() {
        tpl.update(model);
      });

      window.setTimeout(function() {
        model.myclass = "romeo"
      }, 2000);


      window.setTimeout(function() {

        model = {
          myClass : "ss",
          title : "Employees",
          persons : [
            {
            name : "Romeo",
            profession : "Informatiker",
            qualifications : [{name : "javascript", level : "gut"}, {name : "PHP", level : "gut"}]
          },
         {
            name : "Romeo",
            profession : "Informatiker",
            qualifications : [{name : "javascript", level : "gut"}, {name : "PHP", level : "gut"}]
          },
          {
            name : "Romeo",
            profession : "Informatiker",
            qualifications : [{name : "javascript", level : "gut"}, {name : "PHP", level : "gut"}]
          }
          ]
        };

        tpl.update(model);

      }, 3000);


      window.setTimeout(function() {
       // tpl.dispose();
      }, 4000)



    }, false);


  </script>


</head>

<body>

  <ul disabled="{{active}}" id="template" cla{{myClass}}="{{title}}" data-repeat="{{ person in persons }}" >
     {{person.name}}  ist ein {{ person.profession }}
    <h1 data-click="controller.showUser(person)">He has following qualification</h1>
    <ul class="{{person.name}}" data-repeat="{{ qualification in person.qualifications }}">
      <li >{{$key}} - {{qualification.name}} : {{qualification.level}}</li>
    </ul>
  </ul>

</body>

</html>
